* text=auto; * text=auto eol=crlf; * text=auto eol=ls*.pdf binary*.jpg binary*.png binary*.gif binary*.svg binary*.ttf binary*.woff binary*.eot binary*.mp3 binary* zip binary* docx binary* doc binary* pptx binary* xlsx binary* csv binary* txt binary