###############################
# Git Line Endings            #
###############################

# Set default behaviour to automatically normalize line endings.
* text=auto

# Force batch scripts to always use CRLF line endings so that if a repo is accessed

*.pdf binary
*.png binary
*.jpg binary

*.sln text eol=crlf
*.c text
*.h text
* text=auto

